.section-wrap {
  @media screen and (max-width: 767px) {
    padding: 125px 0 0 0;
    background-image: url(../images/about-milk-mob1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 766px;
  }
  @media screen and(min-width:768px) {
    padding: 130px 36px 66px 39px;
  }
  @media screen and(min-width:1280px) {
    background-image: url(../images/about-milk-desk1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 342px;
    padding: 125px 117px 39px 112px;
  }
  background-color: #fff5f6;
}

.about {
  &-text {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;

    color: #ffa5ba;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.14;
      margin-bottom: 15px;
    }
  }
  &-title {
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;

    color: #d41443;

    margin: 0 0 26px 0;
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.14;
      margin: 0 0 50px 0;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
      margin: 0 0 55px 0;
    }
  }
}
.about-box {
  &_img {
    @media screen and (max-width: 767px) {
      max-width: 280px;
      margin: 0 auto;
      margin-bottom: 46px;
      max-width: 280px;
      max-height: 279px;
    }
    @media screen and(min-width:768px) {
      margin-right: 17px;
    }
    @media screen and(min-width:1280px) {
      margin-right: 74px;
      max-width: 516px;
      max-height: 516px;
    }
  }
}
.about-box {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about-box_text {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 220px;
  }
  @media screen and(min-width:768px) {
    width: 340px;
  }
  @media screen and(min-width:1280px) {
    width: 463px;
  }

  &_first {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #000000;
    margin-bottom: 47px;
    @media screen and(min-width:768px) {
      font-size: 14px;
      line-height: 1.78;
    }
  }
  &_second {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #907e82;
    @media screen and(min-width:768px) {
      font-size: 14px;
      line-height: 1.78;
    }
  }
}

.about-btn {
  width: 176px;
  height: 44px;

  background: #ffffff;
  border-radius: 22px;
  border: 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;

  color: #d41443;

  margin-top: 17px;

  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.31;
    margin-top: 17px;
  }
}
.about-btn > img {
  margin-left: 13px;
}

// для бекграунд
//   @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
//   .main-first-section {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-mob-img-2x.jpg);
//   }
// }

// @media screen and (min-width: 768px) {
//   .main-first-section {
//     max-width: 768px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-tab-img-1x.jpg);
//   }
// }

// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
//   .main-first-section {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-tab-img-2x.jpg);
//   }
// }

// @media screen and (min-width: 1200px) {
//   .main-first-section {
//     max-width: 1600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-desk-img-1x.jpg);
//   }
// }

// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//   .main-first-section {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-desk-img-2x.jpg);
//   }
// }
